html {
    height: 100%;

    body {
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        background: #f2eee3;
        display: flex;
        justify-content: center;
        align-items: center;

        main {
            width: 400px;
            padding: 2em;
            background: rgba(38, 37, 37, 0.5);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                color: #fff;
            }

            form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;

                span {
                    position: relative;
                    width: 100%;

                    input {
                        outline: none;
                        width: 100%;
                        padding: 10px 0;
                        color: #fff;
                        margin-bottom: 2em;
                        border: none;
                        border-bottom: 1px solid #fff;
                        background: inherit;

                        &:active {
                            outline: none;
                        }


                    }

                    input:focus~label {
                        top: -20px;
                        color: #03e9f4;
                        font-size: 12px;
                    }

                    label {
                        position: absolute;
                        left: 0;
                        padding-top: 0.5em;
                        transition: .5s;
                        /*pointer-events: none; */
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}